/*  your css code here. If applicable */
/*  your css code here. If applicable */
div{
	background-color:slategray;
	width:250px;
	text-align:center;
}
#img{
	margin:40px 40px -1px 50px ;
}
button{
	background-color:red;
}